* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
}
#logo {
    width: 40px;
    height: 40px;
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    /* padding: 8px, 16px, 8px, 16px; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;

}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightblue;
}


.nav-li {
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .nav-a:hover {
    background-color: #111111;
    padding: 12px 14px;
} */

.nav-a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}


.welcome-dev {
    background-color: royalblue; 
    /* better color pls */
    /* padding-left: 10px; */
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: x-large;
}

.company {
    display: flex; 
    text-align: center;
    width: auto;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 140px;
    /* centers all the div */
}

.company .sub-company {
    margin: 5px;
    width: 350px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}

.company-img {
    width: 100px;
    height: 100px;
    transform: translateX(+125%)
}

#portfolio-logo, #Aether-logo, #aero-tex-logo {
    width: 100px;
    height: 100px;
}

.company-title {
    padding-top: 10px;
    font-size: large;
}

/* footer */
#fh5 {
    padding-right: 5px;
    /* text-align: right; */
    float: right;
    /* margin-top: 0px; */
}


#dtime {
    text-align: left;
    font-weight: bold;
    display: block;
    color: whitesmoke;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#CT {
    padding-left: 5px;
}
