* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
}

#logo {
    width: 40px;
    height: 40px;
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    /* padding: 8px, 16px, 8px, 16px; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;

}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightblue;
}

.nav-li {
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .nav-a:hover {
    background-color: #111111;
    padding: 12px 14px;
} */

.nav-a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}


.block {
    display: flex; 
    width: auto;
    justify-content: center;
    /* centers all the div */
}

 /* Design for table */
 .content-table {
    border-collapse: collapse;
    margin-bottom: 1px;
    font-weight: bold;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  
  .content-table thead tr {
    background-color: darkcyan;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
/* footer */
#fh5 {
    padding-right: 5px;
    /* text-align: right; */
    float: right;
    /* margin-top: 0px; */
}

#dtime {
    text-align: left;
    font-weight: bold;
    display: block;
    color: whitesmoke;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#CT {
    padding-left: 5px;
}
