* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
}

#logo {
    width: 40px;
    height: 40px;
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    /* padding: 8px, 16px, 8px, 16px; */
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 8px;

}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightblue;
}



.nav-li {
    float: left; /* to keep all of them on left and inline */
    display: block;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}


.nav-a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}

.section {
    display: flex; 
    text-align: center;
    width: auto;
    justify-content: center;
    /* centers all the div */
}

.section .section-block {
    background-color: lightblue;
    margin: 5px;
    width: 350px;
    padding: 20px;
    line-height: 20px;
    position: relative;
}

#client_info_icon, #client_query_icon {
    width: 120px;
    height: 120px;
    padding-top:15px;
    padding-bottom:15px;
}

/* .choice-title {
    padding-top: 15px;
} */



/* footer */

#fh5 {
    padding-right: 5px;
    /* text-align: right; */
    float: right;
    /* margin-top: 0px; */
}


#dtime {
    text-align: left;
    font-weight: bold;
    display: block;
    color: whitesmoke;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#CT {
    padding-left: 5px;
}