body {
    font-family: Arial, Helvetica, sans-serif;
}


#mh1 {
    background-color: black;
    color: whitesmoke;
    padding-left: 10px;
    padding: 25px;
    margin-bottom: 0px;
}

#pph1 {
    background-color: rgb(0, 132, 255);
    color: whitesmoke;
    margin-bottom: 0px;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}

#dh1 {
    background-color: black;
    padding: 20px 10px 20px 10px;   
}

.menu1 {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 50px;
    padding-left: 20px;
    align-content: center;
}

img {
    width: 260px;
    height: 280px;
    margin-left: 10px;
    border-style: double;
    float: left;
    margin-right: 25px;
}


#Etitle {
    display: inline;
    font-size: 40px;
}

#main1{
    text-align: center;
    padding-top: 10px;
}

.options {
    color: black;
}

#mdiv1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mdiv2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ops1 {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

.ops2 {
    margin-left: 80px;
    margin-right: 80px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

#main2 {
    clear: both;
    padding-top: 10px;
    font-size: 20px;
}

#fh5 {
    background-color: black;
    color: whitesmoke;
    padding: 5px 5px 5px 5px;
    text-align: right;
    margin-top: 0px;
}

#dborder {
    border-style: solid;

}
p {
    padding: 0px 10px 0px 10px;
    text-align: justify;
    margin-top: 0px;
}