<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            text-align: center;
            background-color: seagreen;
            color: aliceblue;
            padding: 30px;
            font-family: Verdana;
        }
        h1{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    </style>
</head>
<body>
    <h1>You are viewing: <%= person %></h1>
</body>
</html>