

body{
    padding: 0;
    margin: 0;
    background-image: url(../images/pexels-daniel-absi-952670.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    background: #ffffff;
    opacity: 99%;
    max-width: 260px;
    margin: 200px auto 100px;
    padding: 10px 45px 30px 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0, 5px 5px 0 rgba(0,0,0,0.24); 
    border-radius: 15px;
}  

.form p{
    font-size: 15px;
    padding: 1px;
    text-align:  center;
}

.form input{
    outline: 0;
    border-radius: 10px;
    background: #f2f2f2;
    width: 250px;
    height: 40px;
    border: 0;
    margin:  0 0 14px;
    box-sizing: border-box;
    font-size: 14px;

}
 .form input:hover{
     background-color: rgb(148, 216, 243);
     transition-property: all 1s ease 0s;
 }

 form input:focus{
    background-color: rgb(109, 198, 233);
    transition-property: all 1s ease 0s;
}

.form button{
    text-transform: uppercase;
    outline: 0;
    border-radius: 10px;
    background: rgb(32, 228, 14);
    width: 100px;
    height: 50px;
    padding: 15px;
    color:rgb(0, 12, 3);
    font-size: 14px;
    cursor: pointer;
    margin: 100 20 14px;
}
 
 
.form button:hover, .form button:active, .form button focus{
background-color: rgb(240, 228, 65);
color: steelblue;
font-size: 12px;

}

.form .message{
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
}

.form .message{
    color: #d40e0e;
    text-decoration: none;
}

.sb{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: wheat;
    margin-left: 200px ;
    margin-top: 300px;
}












