body {
    font-family: Helvetica;
}

h1 {
    background-color: black;
    color: whitesmoke;
    padding-left: 10px;
    padding: 25px;
    margin-bottom: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#dh1 {
    background-color: black;
    padding: 20px 10px 20px 10px;
}

.menu1 {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 30px;
    padding-left: 25px;
    align-content: center;
}

.menus {
    color: whitesmoke;
    text-decoration: none;
    padding-right: 25px;
    padding-left: 25px;
    align-content: center;
}

#sdiv {
    background-color: cornflowerblue;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#Ah3 {
    margin-top: 0px;
    padding-left: 5px;
    font-size: x-large;
}

#portfolio-logo {
    width: 150px;
    height: 150px;
}

#ap {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

#prodiv1 {
    padding-top: 5px;
    background-color: cornflowerblue;
    padding-bottom: 5px;
}

#imgelon {
    width: 100px;
    height: 100px;
    padding-left: 25px;
}

#pt1 {
    padding-left: 34px;
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bolder;
}

#fp {
    margin-top: 0px;
    padding-left: 5px;
}

#fh5 {
    padding-right: 5px;
    /* text-align: right; */
    float: right;
    /* margin-top: 0px; */
}


#gret {
    background-color: teal;
    margin-bottom: 0px;
    padding: 10px;
    margin-top: 0px;
}

#greetings {
    font-size: x-large;
    font-weight: bolder;
}

#namelisting {
    font-size: large;
    font-weight: bolder;
}

#dtime {
    text-align: left;
    font-weight: bold;
    display: block;
    color: whitesmoke;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#CT {
    padding-left: 5px;
}

.btn {
    background: transparent;
    color: black;
    font-weight: 700;
    padding: 0.375rem 0.75rem;
    /* margin: 30px 100px; */
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 5px 13px;
}

#signup {
    text-align: right;
}